@font-face {
	font-family: "RobotoSlabRegular";
	src: url("../fonts/RobotoSlab-Regular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "RobotoSlabBold";
	src: url('../fonts/RobotoSlab-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: normal;
}