.paper {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	margin: 0 auto;
	.heading {
	    color: #fff;
	    background: #00B9F1;
	    padding: 15px;
	    margin-top: 20px;
	     h2 {
    	    margin: 0;
    	    font-size:20px;
    	    display:inline-block;
    	}
	}
	.body {
	    padding: 10px;
	    background: #fff;
		margin-bottom: 200px;
	    .form-control {
	        margin-bottom: 10px;
	        border-radius: 0;
	    }
	    .btn {
	    	background:$primary-color;
	    	color:#fff;
	    }
	}
}