.snippets-container, .single-snippet {
    margin-top: 20px;
    a {
        color:#000;
    }
    .snippet-box {
    	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
	    background-color: #fff;
	    padding: 20px;
	    padding-bottom: 0;
	    margin-bottom: 20px;
        height: 308px;
    }
    .snippet-code {
        max-height: 170px;
        overflow:hidden;
    }
    .snippet-details {
        background-color: #f9f9f9;
        margin-left: -20px;
        margin-right: -20px;
        padding: 20px 20px;
        padding-top: 10px;
        margin-top: 10px;
    }
    .snippet-title {
        font-size: 16px;
        font-weight: bold;
        font-family: "RobotoSlabBold";
    }
    .description {
        margin-bottom: 10px;
    }
    ul.tags {
        margin-top: 15px;
        a {
            color:#fff;
        }
    }
}

/* Edit snippet */
.single-snippet.paper {
    .body {
        padding-bottom:0px;
    }
    max-width: 800px;
    margin: 0 auto;
    .actions {
        display:inline-block;
        float: right;
        a {
            font-size: 16px;
            color:#fff;
        }
        a.trash {
            color: red;
            margin-left: 10px;
        }
    }
    .snippet-details {
        margin-left: -10px;
        margin-right: -10px;
    }
}