.tag-container {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    background-color: #fff;
    padding: 20px;
    text-align: center;
    h1 {
    	font-size: 22px;
	    font-weight: 700;
	    line-height: 1;
	    word-wrap: break-word;
	    margin-top: 5px;
        .count {
            font-weight: normal;
            font-size: 16px;
            background: rgb(0, 172, 224) none repeat scroll 0% 0%;
            display: inline-block;
            width: 30px;
            padding: 5px;
            border-radius: 15px;
            color: rgb(255, 255, 255);
            margin-left: 5px;
        }
    }
    h2 {
    	color: #8899a6;
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 1;
	    margin-bottom: 10px;
	    margin-top: 10px;
    }
}