$icon-font-path: '../fonts/';
@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: $regular-font;
  background-color:#EEE;
  a {
    &:hover {
      text-decoration: none;
    }
  }
  input[type="radio"]:focus, input[type="checkbox"]:focus {
      outline: 0;
  }
}
h1,ul{
  margin:0;
  padding:0;
}
h1 {
  font-family: $bold-font;
}
@import "fonts";
@import "header";
@import "marketing";
@import "snippet";
@import "footer";
@import "prism";
@import "paper"; //paper style divs
/* Pages */

/* Login */
@import "login";
@import "register";
@import "addSnippet";

