$icon-font-path: '../fonts/';
@import "variables";

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  font-family: $regular-font;
}
h1,ul{
  margin:0;
  padding:0;
}
h1 {
  font-family: $bold-font;
}
@import "fonts";
@import "header";
@import "marketing";